body     { background: url(../images/tile.png); }

.wrapper { background: #FFF; width: 1040px;margin:0 auto;-webkit-box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.6);-moz-box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.6);box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.6);position: relative;}

.header  {
  width:100%;
  height:72px;
  padding: 10px 0;
  background: #606060;
  background: -moz-linear-gradient(top, #606060 0%, #191919 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606060), color-stop(100%,#191919));
  background: -webkit-linear-gradient(top, #606060 0%,#191919 100%);
  background: -o-linear-gradient(top, #606060 0%,#191919 100%);
  background: -ms-linear-gradient(top, #606060 0%,#191919 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#191919',GradientType=0 );
  background: linear-gradient(top, #606060 0%,#191919 100%);
}

.live_title, .live_count, .live_change_rate, .live_ratio {
  font-family: Helvetica, arial, sans-serif;
  position: absolute;
  left: 75px;
}

.live_count, .live_change_rate, .live_ratio {
    font-size: 75px;
    font-weight: bold;
    color: #ff0096;
}

#pastCanvas        { padding: 0 0 0 95px;}
.template          { position: relative; height: 310px; }
.live_title        { width: 100%; font-size: 14px; top:0px;left:0px; padding: 13px 0; text-indent: 40px;}
.template, 
.live_title        { border-bottom: 1px solid #EEE; font-size: 20px; font-weight: bold; cursor: pointer; color: #00c176; }
.live_title:hover  { text-decoration: underline; }

#breadcrums        { padding: 10px 0; }
#breadcrums ul     { margin-left: 10px; }
#breadcrums li     { display: inline-block;font-size: 16px; font-weight: bold; cursor: pointer; color: #aaa;padding:0 2px;font-family: helvetica, arial, sans-serif; }

.live_count        { top: 50px; }
.live_change_rate  { top: 128px; }
.live_ratio        { top: 210px; }
.chart             { position: absolute; left: 390px; top: 42px; }
.big_chart         { padding: 20px;}

.three_dee         { text-shadow: 0 1px 0 #ff9ad5,
                     0 2px 0 #ff72c5,
                     0 3px 0 #ff49b4,
                     0 4px 0 #e542a2,
                     0 5px 0 #cc0078,
                     0 6px 1px rgba(0,0,0,.1),
                     0 0 5px rgba(0,0,0,.1),
                     0 1px 3px rgba(0,0,0,.3),
                     0 3px 5px rgba(0,0,0,.2),
                     0 5px 6px rgba(0,0,0,.25),
                     0 10px 7px rgba(0,0,0,.2),
                     0 20px 12px rgba(0,0,0,.15);
                   }

.back { position: absolute; border: 1px solid #a70062;-webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.6);-moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.6);box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.6); padding: 8px 16px;top: 25px;left: 20px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}

.logo {
  background: url(../images/logo.png);
  display: block;
  width: 297px;
  height: 67px;
  margin: 0 auto;
  text-indent: -9000px;
}

.nav {
  width: 100%;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 9%, #efefef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(9%,#f9f9f9), color-stop(100%,#efefef));
  background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 9%,#efefef 100%);
  background: -o-linear-gradient(top, #ffffff 0%,#f9f9f9 9%,#efefef 100%);
  background: -ms-linear-gradient(top, #ffffff 0%,#f9f9f9 9%,#efefef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
  background: linear-gradient(top, #ffffff 0%,#f9f9f9 9%,#efefef 100%);
  border-bottom: 1px solid #EEE;
}

.nav.time, .back {
  background: #ffa3d8;
  background: -moz-linear-gradient(top, #ffa3d8 0%, #ff0096 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa3d8), color-stop(100%,#ff0096));
  background: -webkit-linear-gradient(top, #ffa3d8 0%,#ff0096 100%);
  background: -o-linear-gradient(top, #ffa3d8 0%,#ff0096 100%);
  background: -ms-linear-gradient(top, #ffa3d8 0%,#ff0096 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa3d8', endColorstr='#ff0096',GradientType=0 );
  background: linear-gradient(top, #ffa3d8 0%,#ff0096 100%);
}

.data_type, .time_slices, .back {
  margin: 0 auto;
  text-align: center;
}

.data_type li, .time_slices li, .navigation li {
  display: inline-block;
  text-align: center;
  padding: 10px 25px;
}

.time_slices a, .back {
  color: #FFF;
  text-shadow: -1px -1px 0 rgba(0,0,0,.3);
}

.data_type a  {
  color: #ff0096;
  text-shadow: 1px 1px 0 rgba(255,255,255,1.0);
}

.data_type a, .time_slices a, .back, .label  {
  text-decoration: none;
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  text-decoration: none;
}

.data_type a:hover, .time_slices a:hover, .back:hover {
  text-decoration: underline;
}

.data_type li {
  border-left:1px solid #ddd;
}

.data_type li:last-child {border-right:1px solid #ddd;}

.time_slices li {
  border-left:1px solid #ff83cc;
}

.time_slices li:last-child {border-right:1px solid #ff83cc;}

.label             { font-size: 13px; display: block; position: absolute; right:980px; -webkit-transform: rotate(315deg);	-moz-transform: rotate(315deg); -ms-transform: rotate(315deg);-o-transform: rotate(315deg);transform: rotate(315deg);color:#ccc;}
.count.label       { top: 100px; }
.change_rate.label { top: 179px; }
.ratio.label       { top: 262px; }


.RGraph_png {
}

.RGraph_palette {
}

.RGraph_tooltip {
}

.RGraph_contextmenu {
}

.RGraph_contextmenu_background {
}

.RGraph_contextmenu_item {
}

.RGraph_zoom_window {
}

.RGraph_zoomed_canvas {
}

.RGraph_zoomed_area {
}

.ModalDialog_background {
}

.ModalDialog_dialog {
}

.ModalDialog_topbar {
}